/* div.container-fluid{
  width: 800px;
  margin:0 auto;

} */

/* .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
} */

/* .body {
   text-align: center;
}

.navbar {
    text-align: center;
} */

#navbarSupportedContent{
  justify-content: center;
}
