form{
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 20px;
  width: 420px;
  margin: 10 auto;
  display: inline-block;
}


input {
  display: block;
  width: 100%;
}

body {
    text-align: center;
}

label {
    display: block;
    text-align: left;
}

#btn {
  width: 50%;
  margin: 0 auto;
  color: black;
  background-color: red;
}

/* OLD STYLING */

/* .form{
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 20px;
  width: 420px;
  margin: 10 auto;
}


input {
  display: block;
  width: 100%;
} */

